@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');    

body {
    background-color: hsl(233, 47%, 7%);
    text-align: center;
    font-family: 'Inter';
    color: white;
    font-size: 15px;
}


.card   {
    width: 90%;
    background-color: hsl(244, 38%, 16%);
    margin: auto;
    margin-top: 1.1em;
    border-radius: 0.5em;
}

.color-overlay img{
    max-width: 100%;
    border-radius: 0.5em 0.5em 0em 0em;
}


h1 {
    width: 9.5em;
    margin: auto;
    margin-top: 0.5em;
}

.description {
    width: 18em;
    margin: auto;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 1em;
}

.stat-heading p {
    margin-top: -1.2em;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 13px;
    letter-spacing: 1px;
}
.stat-heading {
    padding-bottom: 0.5em;
}
